@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Lato:wght@300;400&display=swap');

:root {
  // variables
  --primary: #539090;
  --primary-transparent: rgba(83, 144, 144, 0.38);
  --bg: #000;
  --bg-accent: #202020;
  --text-color: #fff;
  --text-alt: #BBB;
  --nav-height: 80px;
  --border-radius: 12px;
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

//Scroll Bar
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  background: var(--bg-accent);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}